doctype html
html
  head
    title Socket.IO chat
    link(rel='stylesheet' type='text/css' href='chat_room.css')
  body
    h1="Room Name is "+roomName
    h3="Your name is "+userName
    .colors
      .color.black
      .color.red
      .color.green
      .color.blue
      .color.yellow
    .row
      canvas.whiteboard(width='800' height='400' style='border: 3px solid green;') Your browser does not support the HTML canvas tag.
      #chat_box(style='overflow-y:scroll; width: 300px; height: 400px; margin-left: 30px;')
        ul#messages
    form(style='text-align: center; margin: 30px;' action='')
      input#m(autocomplete='off' style='width: 50%; padding: 12px 20px; border: 3px solid #555;')
      button Send
    script(src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-3.4.1.min.js')
    script(src='draw.js')
    script(src='chat.js')